<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>test</title>
    <meta name="author" content="test">
  </head>

  <body>
<!-- begin uuchat code  -->
<script type="text/javascript">
    ;(function(u, c, h){
        u.UUCHAT = (function(){
            return {
                domain: 'http://192.168.31.99:9688',
                src: h
            };
        })();
        var s = c.createElement('script'),
                r=c.getElementsByTagName('script')[0];
        s.async = 1;
        s.src = u.UUCHAT.domain+h;
        r.parentNode.insertBefore(s,r);
    })(window, document, "/static/js/loader.js");
</script>
<!-- end uuchat code  -->
  </body>
</html>
